@use "sass:math";

// Шрифты
$font-main: "Inter", sans-serif;

// Цвета
$white: #FFFFFF;
$black: #242424;
$blue: #6F94CA;
$blue-light: #84A9DF;
$purple: #312B80;
$gray: #B5B5B5;
$gray-dark: #535353;
$gray-light: #DDE1EF;
$gray-accent: #B0B0B0;
$red: #DF2E2E;

$bg: #EDF1F3;

// Размеры
$mobile: 1199;

// Миксины
@mixin shadow-bg() {
  background: rgba(#242424, .8);
  backdrop-filter: blur(10px)
}
@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content
  }
}

@mixin cover() {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@mixin coverFull() {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin calc-width($element-width, $container-width) {
  $percent: calc(($element-width / $container-width) * 100);
  width: #{$percent}#{'%'};
}

@mixin calc-max-width($element-width, $container-width) {
  $percent: calc(($element-width / $container-width) * 100);
  max-width: #{$percent}#{'%'};
}

// Генераторы
@mixin pt($size) {
  padding-top: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .pt-#{$i} {
    @include pt($i);
  }
}

@mixin ptm($size) {
  @include r($mobile) {
    padding-top: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .ptm-#{$i} {
    @include ptm($i);
  }
}

@mixin pb($size) {
  padding-bottom: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .pb-#{$i} {
    @include pb($i);
  }
}

@mixin pbm($size) {
  @include r($mobile) {
    padding-bottom: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .pbm-#{$i} {
    @include pbm($i);
  }
}

@mixin mt($size) {
  margin-top: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .mt-#{$i} {
    @include mt($i);
  }
}

@mixin mtm($size) {
  @include r($mobile) {
    margin-top: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .mtm-#{$i} {
    @include mtm($i);
  }
}

@mixin mb($size) {
  margin-bottom: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
  .mb-#{$i} {
    @include mb($i);
  }
}

@mixin mbm($size) {
  @include r($mobile) {
    margin-bottom: math.div($size, 16) * 1rem;
  }
}

@for $i from 0 through 200 {
  .mbm-#{$i} {
    @include mbm($i);
  }
}
