.section {
  &--intro {
    position: relative;
    z-index: 5;

    .container {
      position: relative;
    }

    .section__img {
      position: absolute;
      right: 183px;
      bottom: -379px;
      transform: scale(1.37) rotate(34deg);
      opacity: 0.05;
      z-index: 0;
      pointer-events: none;

      @include r($mobile) {
        right: -96px;
        bottom: -312px;
        transform: scale(0.5) rotate(27deg);
      }
    }
  }
  &--light {
    background-color: $white;
  }

  &--bg {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
