.stats {
  display: flex;
  flex-direction: column;
  gap: 150px;

  @include r($mobile) {
    gap: 50px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 670px;

    @include r($mobile) {
      gap: 20px;
      width: 100%;
      max-width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;

    @include r($mobile) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-width: 650px;
    max-width: 810px;
    height: 645px;

    @include r($mobile) {
      min-width: 327px;
      max-width: 100%;
      height: auto;
    }
  }

  &__marquee {
    display: flex;
    flex-direction: column;
    gap: 76px;
  }
}
