.intro {
  position: relative;
  display: flex;
  padding: 30px 0 90px;
  background: url("../assets/images/background-gradient.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;

  @include r($mobile) {
    padding: 20px 0 50px;
    border-radius: 30px;
  }

  &__img {
    position: absolute;
    right: 163px;
    bottom: -377px;
    transform: scale(1.37) rotate(34deg);
    z-index: 0;
    pointer-events: none;

    @include r($mobile) {
      right: -90px;
      bottom: -312px;
      transform: scale(0.5) rotate(27deg);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 78px;
    z-index: 1;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 4;
      background: url("../assets/images/background-gradient.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .intro__header-inner {
        max-width: 1542px;
        margin: 0 auto;

        @include r($mobile) {
          padding: 6px 10px;
        }
      }
    }
  }

  &__header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 14px 14px 14px 20px;
    transition: .2s linear;

    @include r($mobile) {
      padding: 4px 4px 4px 10px;
    }
  }

  &__preview {
    position: relative;
    margin-bottom: 40px;

    @include r($mobile) {
      margin-bottom: 20px;
    }
  }

  &__picture {
    position: relative;
    display: flex;
    width: 100%;
    height: 420px;
    margin: 0 auto;
    clip-path: path('M0 40C0 17.9086 17.9086 0 40 0H1490C1512.09 0 #{2000} -57.9086 #{2000} 40V380C1530 402.091 #{2000} 420 #{2000} 420H325C306.775 420 292 405.225 292 387C292 368.775 277.225 354 259 354H192.873H40C17.9086 354 0 336.091 0 314V40Z');
    border-radius: 40px;
    overflow: hidden;

    @include r($mobile) {
      height: 357px;
      clip-path: path('M-1.22659e-06 20C-5.49164e-07 8.95431 8.9543 0 20 0H307C318.046 0 #{1500} -100 #{1500} 20V337C327 348.046 #{1500} #{1500} 307 357H224C211.297 357 201 346.703 201 334C201 321.297 190.703 311 178 311H105.5H20C8.95429 311 -1.85243e-05 302.046 -1.78469e-05 291L-1.22659e-06 20Z');
      border-radius: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($purple, .2);
    }

    img {
      @include coverFull();
      transform-origin: bottom;
      object-position: top;
    }
  }

  &__button {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @include r($mobile) {
      gap: 20px;
    }
  }

  &__title {
    color: $white;
  }

  &__text {
    margin-bottom: 20px;
    color: $white;

    @include r($mobile) {
      margin-bottom: 10px;
    }
  }
}
